{{ attach_library( 'sparky/footer' ) }}


<footer>
	<div class="row">
		<div class="columns large-6 medium-12 sparky-footer-logo">
			<img src="/themes/custom/sparky/images/spark_logo.png">
		</div>
		<div class="columns large-6 medium-12 sparky-footer-menu">
		<ul>
			<li><a href="#" data-open="about">about</a></li>
			<li><a href="https://arts.fcoe.org/">For information, contact FCSS Arts Education</a></li>
		</div>
	</div>



	<!-- ABOUT MODAL -->

	<div id="about" class="reveal large about"  data-reveal>

	<div class="section-headline">
	<h1>how spark! was formed:</h1>
	</div>

	<div class="about-img"><img src="/themes/custom/sparky/images/01c_01.jpg"></div>

	<div class="body">

	<div class="row">
	<div class="columns large-12">
	<p>In the summer of 2013, the Fresno County Superintendent of Schools, the Fresno Unified School District, the Central Unified School District and Darius Assemi, President of Granville Homes, came together with a singular, yet critical purpose.</p>
	</div>
	</div><!-- /.row -->


	<div class="row">
	<div class="section-what-info columns large-7">
	<p>They envisioned a coalition of business and education leaders for the creation of a vibrant, prosperous community and workforce prepared for the 21st CENTURY ECONOMY through their education in the arts. Fueling this vision was far-reaching MEASURABLE EVIDENCE of the amazing impact arts Iin education has on school grades, test scores, high school graduation, college enrollment and achievement, volunteering and engagement in school or local politics. </p>

	<p>By the fall of 2013, the Arts Business Coalition (ABC) was created as a two-year incubator for a more creative education with initial funding provided by Granville Homes and the Fresno County Superintendent of Schools. </p>

	<p>In its first year, ABC created a solid strategic plan and rolled out its first major initiative, SPARK!, an Adopt-A-School initiative to create arts programs in schools where such programs disappeared decades ago.</p>
	</div>
	<div class="columns large-3 large-offset-1 end">
	<img src="/themes/sparky/images/01c_02.jpg">
	</div>
	</div><!-- /.row -->

	<div class="row">
	<div class="section-what-info columns large-12">
	<p>IT'S JUST THE BEGINNING. Under the direction of Fresno County Superintendent of Schools, SPARK! is working harder than ever to promote and support the sustainability of a more creative education for more students in more school districts. </p>

	<p>But we need your help in the form of donations and involvement. Please join with us today to build an innovative, collaborative workforce that is prepared for the 21st Century economy. </p>
	</div>
	</div><!-- /.row -->

	</div><!-- /.body -->

	<div class="reveal-footer">
	<a class="back-link" data-close aria-label="Close reveal">Back</a>
	</div>

	<div class="row">
	  <button class="close-button" data-close aria-label="Close reveal" type="button"><span aria-hidden="true">&times;</span></button>
	</div>


	</div><!-- end of About modal -->





</footer>