@import "../../init";

footer {
    background-color: $lightgray;
    padding: 20px 0;
    .sparky-footer-menu {
        text-align: center;
        ul {
            padding-top: 20px;
            li {
                list-style: none;
                display: inline;
                a {
                    font-weight: $semi-bold;
                    font-size: rem-calc(20);
                    padding-right: 10px;
                }
            }
        }
    }
    @media screen and #{breakpoint(large)} {
        .sparky-footer-menu {
            text-align: right;
            ul {
                li {
                    display: list-item;
                }
            }
        }
    }
}

.donate-bar {
    background-color: $green;
    padding: 20px 0;
    font-size: rem-calc(36);
    font-weight: $light;
    color: $white;
    margin-top: 50px;
    a.button.large {
        font-size: rem-calc(36);
        margin-top: 1rem;
        text-transform: uppercase;
    }
}

footer {
    background-color: #e5e9eb;
    padding: 20px 0;
}

footer .sparky-footer-menu {
    text-align: center;
}

footer .sparky-footer-menu ul {
    padding-top: 20px;
}

footer .sparky-footer-menu ul li {
    list-style: none;
    display: inline;
}

footer .sparky-footer-menu ul li a {
    font-weight: 600;
    font-size: 1.25rem;
    padding-right: 10px;
}

@media screen and (min-width: 64em) {
    footer .sparky-footer-menu {
        text-align: right;
    }
    footer .sparky-footer-menu ul li {
        display: list-item;
    }
}

.donate-bar {
    background-color: #a3d39c;
    padding: 20px 0;
    font-size: 2.25rem;
    font-weight: 300;
    color: #fefefe;
    margin-top: 50px;
}

.donate-bar a.button.large {
    font-size: 2.25rem;
    margin-top: 1rem;
    text-transform: uppercase;
}
