@import '../../init';

.site-name {
    font-weight: $semi-bold;
    padding-top: 28px;
    padding-bottom: 8px;
    &__link {
        color: $gray-dark;
    }
}
  
  .site-name {
    font-weight: 600;
    padding-top: 28px;
    padding-bottom: 8px; }
  
  .site-name__link {
    color: #464343; }
    