@import "../../init";

.hero_image {
    margin-top: 15px;
    position: relative;
    &__content {
        font-size: rem-calc(13px);
        padding: 19px 30px 20px;
        width: 100%;
        background: rgba(96, 78, 53, 0.9);
        @media #{$medium-up} {
            position: absolute;
            width: 70%;
            bottom: 0px;
        }
        @media #{$large-up} {
            bottom: 30px;
            width: 45%;
        }
        &--light {
            a {
                background: $blue-darkest;
                color: #fff;
            }
        }
        &--dark {
            background: rgba(15, 31, 62, 0.9);
            a {
                background: $blue-bright;
                color: #fff;
            }
        }
        &--left {
            left: 0;
            right: auto;
        }
        &--right {
            right: 0;
            left: auto;
        }
    }
    &__hero-title {
        color: #fff;
        font-weight: 600;
        font-size: rem-calc(20px);
        text-shadow: 0 1px 1px #222;
    }
    &__body {
        color: #fff;
        text-shadow: 0 1px 1px #555;
        padding: 0;
        margin: 0 0 10px 0;
    }
    &__hero-link a {
        text-shadow: none;
        display: inline-block;
        padding: 4px 8px;
        font-size: rem-calc(13px);
        font-weight: 600;
        border-radius: $global-radius;
    }
}

.homepage {
    &--secondary-content {
        padding-top: 30px;
    }
}

.hero_image {
    margin-top: 15px;
    position: relative;
}

.hero_image__content {
    font-size: 0.8125rem;
    padding: 19px 30px 20px;
    width: 100%;
    background: rgba(96, 78, 53, 0.9);
}

@media screen and (min-width: 40em) {
    .hero_image__content {
        position: absolute;
        width: 70%;
        bottom: 0px;
    }
}

@media screen and (min-width: 64em) {
    .hero_image__content {
        bottom: 30px;
        width: 45%;
    }
}

.hero_image__content--light a {
    background: #0f1f3e;
    color: #fff;
}

.hero_image__content--dark {
    background: rgba(15, 31, 62, 0.9);
}

.hero_image__content--dark a {
    background: #005696;
    color: #fff;
}

.hero_image__content--left {
    left: 0;
    right: auto;
}

.hero_image__content--right {
    right: 0;
    left: auto;
}

.hero_image__hero-title {
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    text-shadow: 0 1px 1px #222;
}

.hero_image__body {
    color: #fff;
    text-shadow: 0 1px 1px #555;
    padding: 0;
    margin: 0 0 10px 0;
}

.hero_image__hero-link a {
    text-shadow: none;
    display: inline-block;
    padding: 4px 8px;
    font-size: 0.8125rem;
    font-weight: 600;
    border-radius: 0.25rem;
}

.homepage--secondary-content {
    padding-top: 30px;
}
