{{ attach_library('sparky/hero-image') }}
<div{{ attributes.addClass(add_classes) }}>
  {{ title_prefix }}
  <h2{{ title_attributes }}>{{ label }}</h2>
  {{ title_suffix }}
  {% block content %}
    {{ hero_image }}
    <div class="{{ content_classes|join(' ') }}">
      {{ hero_title }}
      {{ hero_body }}
      {{ hero_link }}
    </div>
  {% endblock %}
</div>
