.page-content {
    font-size: rem-calc(15);
}

.section-nav {
    margin-top: 45px;
    &__title {
        position: relative;
        font-size: rem-calc(21px);
        color: $blue-bright;
        border-bottom: 2px solid $blue-light;
        padding-bottom: 12px;
        margin-bottom: 0;
        &:before {
            background: $blue-bright;
            bottom: 0;
            left: 0;
            content: "";
            display: block;
            height: 2px;
            margin: 0 0 -2px;
            position: absolute;
            width: 40px;
        }
    }
    &__menu {
        background: #ebf3ff;
        @media #{$large-up} {
            font-size: rem-calc(14px);

            
        }
    }
    &__menu-link {
	border-bottom: 1px solid #fff;
    }
}

.section-nav__menu-item .section-nav__menu {
    list-style-type: disc;
    color: #000;
}

.section-nav__menu-item .section-nav__menu-item {
	padding-left: 10px;
    background: #f6f6f6;
    :before {
    content: "\2013 \00a0 \00a0 ";
    }
    .section-nav__menu-link {
        border-bottom: 0;
    }
}
