{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

{% macro menu_links(items, attributes, menu_level) %}
  {% set site_menu_classes = ['section-nav__menu', 'menu', 'vertical' ] %}
  {% import _self as menus %}
  {% if items %}
    <ul{{ attributes.addClass(site_menu_classes) }}>
      {% for item in items %}
        {# by the magic of loop #}
        {% if loop.first %}
          <li{{ item.attributes.addClass('section-nav__menu-item') }}>
          {{ link(item.title, item.url, { 'class':['section-nav__menu-link--first','section-nav__menu-link']} ) }}
        {% elseif loop.last %}
          <li{{ item.attributes.addClass('section-nav__menu-item') }}>
          {{ link(item.title, item.url, { 'class':['section-nav__menu-link--last','section-nav__menu-link']} ) }}
        {% else %}
          <li{{ item.attributes.addClass('section-nav__menu-item') }}>
          {{ link(item.title, item.url, { 'class':['section-nav__menu-link']} ) }}
        {% endif %}
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

