@import "../../init";

/*----------------  Events Listing Block  -------------*/

// Hide the bottom-most views row class
.page-content .event--display-detailed-list:last-child {
    border-bottom: 0;
}

.events-block {
    &__title {
        margin-top: 25px;
        position: relative;
        font-size: rem-calc(21px);
        color: $blue-bright;
        border-bottom: 2px solid $blue-light;
        padding-bottom: 12px;
        margin-bottom: 20px;
        &:before {
            background: $blue-bright;
            bottom: 0;
            left: 0;
            content: "";
            display: block;
            height: 2px;
            margin: 0 0 -2px;
            position: absolute;
            width: 40px;
        }
    }
}

.event {
    margin-left: 15px !important;
    margin-right: 15px !important;
    border-bottom: 2px solid $gray;
    padding-bottom: 10px;
    @media #{$medium-up} {
        border: 0;
        padding-bottom: 0;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    &--display-detailed-list {
        border-bottom: 1px dotted $gray;
        margin: 0 0 25px 0;
        padding-bottom: 25px;
        &:last {
            border-bottom: 0;
        }
    }
    &--display-calendar-list {
        margin-bottom: 15px;
    }
    &__title {
        margin-bottom: 3px;
        font-size: rem-calc(23px);
        a {
            color: $blue-darkest;
        }
        &--calendar-list {
            line-height: rem-calc(27px);
            font-size: rem-calc(22px);
            font-weight: 600;
            color: $blue-darkest;
            margin-bottom: 0;
            margin-top: 9px;
            @media #{$medium-up} {
                margin: 0;
                line-height: rem-calc(21px);
                font-size: rem-calc(16px);
                font-weight: $semi-bold;
                color: $blue-darkest;
                margin-bottom: 1px;
            }
        }
    }
    &__event-daterange {
        font-size: rem-calc(16px);
        color: $blue-primary;
        font-weight: bold;
        padding: 10px 0 0px 0;
    }
    &__time {
        &--calendar-list {
            font-size: rem-calc(14px);
            line-height: rem-calc(21px);
            color: $gray-dark;
        }
    }
    &__event-location {
        font-size: rem-calc(14px);
        line-height: rem-calc(21px);
    }
    &__event-registration {
        margin-bottom: 12px;
    }
    &__event-registration,
    &__event-documents {
        font-weight: 700;
        a {
            font-weight: normal;
        }
    }
    &__calendar-icon {
        background: $blue-primary;
        border-radius: $global-radius;
        color: #fff;
        text-align: center;
        margin-right: 12px;
        padding: 3px 8px;
        margin-top: 4px;
        text-align: left;
        display: inline-block;
        @media #{$medium-up} {
            float: right;
            text-align: center;
            padding: 2px 10px 7px;
            display: block;
        }
    }
    &__month {
        font-weight: 600;
        text-transform: uppercase;
        font-size: rem-calc(14px);
        display: inline-block;
        @media #{$medium-up} {
            display: block;
            font-size: rem-calc(13px);
        }
    }
    &__day {
        font-weight: 700;
        font-size: rem-calc(14px);
        line-height: 24px;
        display: inline-block;
        @media #{$medium-up} {
            display: block;
            font-size: rem-calc(24px);
        }
    }
    &__more-link {
        font-size: rem-calc(16px);
        text-decoration: underline;
        text-align: center;
        @media #{$medium-up} {
            display: none;
            top: 18px;
            right: 0;
            text-align: left;
            text-decoration: none;
            margin-left: 20px;
            font-size: rem-calc(13px);
        }
    }
}

/*----------------  Events Listing Block  -------------*/
.page-content .event--display-detailed-list:last-child {
    border-bottom: 0;
}

.events-block__title {
    margin-top: 25px;
    position: relative;
    font-size: 1.3125rem;
    color: #005696;
    border-bottom: 2px solid #cde2ff;
    padding-bottom: 12px;
    margin-bottom: 20px;
}

.events-block__title:before {
    background: #005696;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    height: 2px;
    margin: 0 0 -2px;
    position: absolute;
    width: 40px;
}

.event {
    margin-left: 15px !important;
    margin-right: 15px !important;
    border-bottom: 2px solid #d7d7d7;
    padding-bottom: 10px;
}

@media screen and (min-width: 40em) {
    .event {
        border: 0;
        padding-bottom: 0;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.event--display-detailed-list {
    border-bottom: 1px dotted #d7d7d7;
    margin: 0 0 25px 0;
    padding-bottom: 25px;
}

.event--display-detailed-list:last {
    border-bottom: 0;
}

.event--display-calendar-list {
    margin-bottom: 15px;
}

.event__title {
    margin-bottom: 3px;
    font-size: 1.4375rem;
}

.event__title a {
    color: #0f1f3e;
}

.event__title--calendar-list {
    line-height: 1.6875rem;
    font-size: 1.375rem;
    font-weight: 600;
    color: #0f1f3e;
    margin-bottom: 0;
    margin-top: 9px;
}

@media screen and (min-width: 40em) {
    .event__title--calendar-list {
        margin: 0;
        line-height: 1.3125rem;
        font-size: 1rem;
        font-weight: 600;
        color: #0f1f3e;
        margin-bottom: 1px;
    }
}

.event__event-daterange {
    font-size: 1rem;
    color: #385988;
    font-weight: bold;
    padding: 10px 0 0px 0;
}

.event__time--calendar-list {
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: #464343;
}

.event__event-location {
    font-size: 0.875rem;
    line-height: 1.3125rem;
}

.event__event-registration {
    margin-bottom: 12px;
}

.event__event-registration,
.event__event-documents {
    font-weight: 700;
}

.event__event-registration a,
.event__event-documents a {
    font-weight: normal;
}

.event__calendar-icon {
    background: #385988;
    border-radius: 0.25rem;
    color: #fff;
    text-align: center;
    margin-right: 12px;
    padding: 3px 8px;
    margin-top: 4px;
    text-align: left;
    display: inline-block;
}

@media screen and (min-width: 40em) {
    .event__calendar-icon {
        float: right;
        text-align: center;
        padding: 2px 10px 7px;
        display: block;
    }
}

.event__month {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.875rem;
    display: inline-block;
}

@media screen and (min-width: 40em) {
    .event__month {
        display: block;
        font-size: 0.8125rem;
    }
}

.event__day {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 24px;
    display: inline-block;
}

@media screen and (min-width: 40em) {
    .event__day {
        display: block;
        font-size: 1.5rem;
    }
}

.event__more-link {
    font-size: 1rem;
    text-decoration: underline;
    text-align: center;
}

@media screen and (min-width: 40em) {
    .event__more-link {
        display: none;
        top: 18px;
        right: 0;
        text-align: left;
        text-decoration: none;
        margin-left: 20px;
        font-size: 0.8125rem;
    }
}
