{{ attach_library( 'sparky/event-calendar-list' ) }}

<article{{ attributes.addClass(classes) }}>
        <div class="columns small-12 medium-2">
            <div class="event__calendar-icon">
                <div class="event__month">{{ event_month }}</div>
                <div class="event__day">{{ content.field_event_daterange.0['start_date']['#attributes']['datetime']|date("d") }}</div>
            </div>
        </div>
        {# content.field_event_date.0['#markup'] #}
        <div class="columns small-12 medium-10">
            <div{{ title_attributes.addClass(title_classes) }}><a href="{{ url }}">{{ label }}</a></div>
            <div class="event__time event__time--calendar-list">{{ content.field_event_daterange.0['start_date']['#attributes']['datetime']|date("h:i A") }}</div>
            {{ content.field_event_location }}
        </div>
</article>
