

{# Create classes array #}
{% set classes = [
  bundle ~ '__' ~ field_name|replace({'field_' : ''})|clean_class
] %}

{% set attributes = attributes.addClass(classes) %}


{% set classes1 = [ 'large-6','medium-6','small-12','columns','collapsit' ] %}

  <div{{ attributes.addClass(classes1) }}>
    {% for item in items %}
      <div{{ item.attributes }}>{{ item.content }}</div>
    {% endfor %}
  </div>

