{{ attach_library( 'sparky/nav' ) }}

<!-- Navigation -->
<nav class="main-nav">
    <div class="row">
        <ul class="menu">
            <li class="who">
                <a href="/who">
                    <span class="nav-item who olive">who</span>
                    <p>believes the arts can <span class="forestgreen">SAVE FRESNO'S ECONOMY?</span>
                    </p>
                </a>
            </li>
            <li class="what">
                <a href="/what">
                    <span class="nav-item what skyblue">what</span>
                    <p>data is there to prove it?
                    </p>
                </a>
            </li>
            <li class="when">
                <a href="/when">
                    <span class="nav-item when purple">when</span>
                    <p>did the arts inspire today's business leaders?</p>
                </a>
            </li>
            <li class="where">
                <a href="/where">
                    <span class="nav-item where orange">where</span>
                    <p>is it happening <span class="olive">NOW?</span></p>
                </a>
            </li>
            <li class="how">
                <a href="/how">
                    <span class="nav-item how burgandy">how</span>
                    <p>can <b><i>YOU</i></b> help? <span class="forestgreen">CLICK!</span></p>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- Navigation End -->