@import '../../init';

.main-nav {
	margin: 10px auto 0;
	width: 100%;
	-webkit-transition: all, 0.25s;
	transition: all, 0.25s;
	padding: 0;
	border-bottom: 6px solid #666666;
    text-align: center;

}

.main-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style:none;
    margin: 0;
}

.main-nav ul li {
    border-right: 4px solid #666666;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
    padding-top:10px;
    padding: 5px;
    padding-bottom: 20px;
    a:link {
    	width: 100%;
    	text-align: center;
    	text-decoration: none;
    	padding: 0;
    }
}

.main-nav ul li:last-child {
    border-right: 0px;
}


.main-nav p {
    font-size: rem-calc(20);
    line-height: 1.3rem;
    font-weight: $normal;
}

.main-nav .nav-item {
    font-size: rem-calc(40);
    font-weight: $semi-bold;
}

.main-nav .who {
	color: $green;
    flex-basis: 25%;
    font-weight: 700;
}

.main-nav .what {
	color: $skyblue;
    flex-basis: 15%;
    font-weight: 700;
}

.main-nav .when {
	color: $purple;
    font-weight: 700;
}

.main-nav .where {
	color: $orange;
    font-weight: 700;
}

.main-nav .how {
	color: $burgandy;
    font-weight: 700;
}
@media only screen and (max-width: 660px) {
    .main-nav {
        ul {
            li {
                border-right: none;
            }
        }
    }
}