// @import 'util/util';


// #block-sparky-local-tasks {
// 	ul {
// 		padding: 10px 0;
// 		margin-left: 0;
// 		li {
// 			display: inline;
// 			padding-right: 25px;
// 			a {
// 				color: $blue;
// 				&.is-active {
// 					border-bottom: 2px solid $blue;
// 				}
// 			}

// 		}
// 	}
// }

// .uppercase {
// 	text-transform: uppercase;
// }

// .who {
// 	color: $olive;
// }
// .what {
// 	color: $skyblue;
// }
// .when {
// 	color: $lavender;
// }
// .where {
// 	color: $orange;
// }
// .how {
// 	color: $burgandy;
// }



// #block-sparky-page-title {
// 	position: absolute !important;
// 	top: -9999px;
// 	left: -9999px;
// }


// p {
// 	font-size: rem-calc(25);
// 	font-weight: 300;
// 	line-height: 1.8rem;
// }

// .spark-intro {
// 	margin-top: 50px;
// 	text-align: center;
// 	h2 {
// 		font-weight: $light;
// 		font-size: rem-calc(60);
// 		line-height: initial;
// 		margin-bottom: 50px;
// 	}
// 	p {
// 		font-size: rem-calc(36);
// 		font-weight: $light;
// 		line-height: normal;
// 	}
// 	.learn-more {
// 		font-size: rem-calc(36);
// 		font-weight: $light;
// 		color: $blue;
// 		margin: 20px 0;
// 		display: block;
// 	}
// }

// .video-link-2 {
// 	img {
// 		border: 1px solid $gray;
// 	}
// }

// .learn-more {
// 	font-size: rem-calc(30);
// 	font-weight: $light;
// 	color: $blue;
// 	margin: 10px 0;
// 	display: block;
// }

// .close-button {
// 	right: 20px;
// 	font-size: 3em;
// 	color: $gray;
// }



// .video-section {
// 	padding-top: 50px;
// 	p.video-title {
// 		font-size: rem-calc(16);
// 		font-weight: 600;
// 		padding-bottom: 20px;
// 		padding-top: 5px;
// 	}
// }



// #block-sparky-content {
// 	text-align: center;
// 	.section-headline {
// 		padding-top: 30px;
// 		padding-bottom: 20px;
// 		h1 {
// 			font-size: rem-calc(80);
// 			line-height: 80px;
// 			font-weight: $light;
// 			padding-bottom: 20px;
// 			.title {
// 			font-weight: $extra-bold;
// 			font-size: rem-calc(96);
// 				&.who {
// 					color: $olive;
// 				}
// 				&.what {
// 					color: $skyblue;
// 				}
// 				&.when {
// 					color: $lavender;
// 				}
// 				&.where {
// 					color: $orange;
// 				}
// 				&.how {
// 					color: $burgandy;
// 				}
// 			}
// 		}
// 		p {
// 		    font-size: rem-calc(40);
// 		    line-height: 48px;
// 		    padding: 0 50px 30px 50px;
// 		    &.left {
// 		    	text-align: left;
// 		    }
// 		    .uppercase {
// 		    	text-transform: uppercase;
// 		    }
// 		    .emphasize {
// 		    	font-style: italic;
// 		    }
// 		    .who {
// 		    	color: $olive;
// 	    	}
// 	    	.what {
// 	    		color: $skyblue;
// 	    	}
// 	    	.when {
// 	    		color: lavender;
// 	    	}
// 	    	.where {
// 	    		color:$orange;
// 	    	}
// 	    	.how {
// 	    		color:$burgandy;
// 	    	}
// 		}
// 		.quote-name {
// 			font-size: rem-calc(28);
// 			font-weight: $semi-bold;
// 			line-height: 34px;
// 			padding-bottom: 40px;
// 		}
// 	}
// 	.body {
// 		p {
// 			padding-bottom: 30px;
// 		}
// 	}
// }


// .section-statements {
// 	padding-top: 20px;
// 	.statement-image img {
// 		width: 282px;
// 		height: 283px;
// 		border-radius: 50%;
// 		border: 1px solid $sparkgray;
// 	}
// 	.statement-quote-box {
// 		padding-top: 15px;
// 		.statement-quote {
// 			font-style: italic;
// 		}
// 	}
// 	.statement-who {
// 		padding-top: 10px;
// 		padding-bottom: 10px;
// 		p {
// 			font-size: rem-calc(24);
// 			font-weight: $bold;
// 		}
// 		.statement-business {
// 			font-size: rem-calc(18);
// 			padding-bottom: 10px;
// 			font-weight: $light;
// 		}
// 		a.statement-link {
// 			font-size: rem-calc(20);
// 			text-transform: uppercase;
// 			color: $purple;
// 			&:hover {
// 				border-bottom: 3px solid $burgandy;
// 			}
// 		}
// 	}
// }

// .section-what-box {
// 	border-top: 3px solid $orange;
// 	padding-top: 30px;
// 	padding-bottom: 30px;
// 	.section-what-info {
// 		text-align: left;
// 		padding-top: 10px;
// 		p {
// 			font-size: rem-calc(30);
// 			line-height: 40px;
// 			.emphasis {
// 				color: $skyblue;
// 				font-weight: $bold;
// 			}
// 		}
// 		a {
// 			font-size: rem-calc(30);
// 			padding-top: 20px;
// 			color: $purple;
// 			font-weight: $light;
// 			&:hover {
// 				text-decoration: underline;
// 			}
// 		}
// 	}
// }


// .locations {
// 	padding-top: 30px;
// 	ul {
// 		list-style-type: none;
// 		li {
// 			text-align: left;
// 			list-style-type: none;
// 			text-align: center;
// 			a {
// 				font-size: rem-calc(25);
// 				color: $purple;
// 				&:hover {
// 					border-bottom: 3px solid $burgandy;
// 				}
// 			}
// 		}
// 	}
// }

// form.sponsorship-submission {
// 	margin-bottom: 40px;
// }

// button.btn-submit {
// 	width: 100%;
// 	padding: 0;
// 	margin: 0;
// }

// .sponsorship {
// 	color: $white;
// 	padding: 20px 30px 40px;
// 	text-align: left;
// 	h1 {
// 		color: $white;
// 		padding: 0;
// 		text-transform: uppercase;
// 		font-weight: $bold;
// 		font-size: rem-calc(32);
// 	}
// 	h2 {
// 		color: $white;
// 		text-transform: uppercase;
// 		font-weight: $light;
// 		padding: 0 0 10px 0;
// 		font-size: rem-calc(48);
// 	}
// 	p {
// 		color: $white;
// 		font-size: rem-calc(32);
// 	}
// 	&.level-one {
// 		background-color: $purple;
// 		margin-top: 20px;
// 		&:hover {
// 			background-color: $darkpurple;
// 		}
// 	}
// 	&.level-two {
// 		background-color: $forestgreen;
// 		&:hover {
// 			background-color: $darkforestgreen;
// 		}
// 	}
// 	&.level-three {
// 		background-color: $teal;
// 		&:hover {
// 			background-color: $darkteal;
// 		}
// 	}
// 	.sponsorship-info {
// 		padding-top: 20px;
// 	}
// 	.price-box {
// 		display: flex;
// 		display: -webkit-box;
// 		display: -ms-flexbox;
// 		align-items: center;
// 		-webkit-box-align: center;
// 		-ms-flex-align: center;
// 		justify-content: flex-end;
// 		padding-top: 20px;
// 		.price {
// 			display: flex;
// 			flex-direction: row;
// 			align-items: center;
// 			font-weight: $light;
// 			.dollar-sign {
// 				font-size: rem-calc(96);
// 			}
// 			.amount {
// 				font-size: rem-calc(144);
// 			}
// 		}
// 		.price-cents-box {
// 			display: -webkit-box;
// 			display: -ms-flexbox;
// 			display: flex;
// 			display: block;
// 			-ms-flex-wrap: wrap;
// 			flex-wrap: wrap;
// 			box-sizing: border-box;
// 			-webkit-box-pack: center;
// 			-ms-flex-pack: center;
// 			-webkit-box-align: start;
// 			-ms-flex-align: start;
// 			align-items: flex-start;
// 			text-align: center;
// 			line-height: initial;
// 			padding: 0 0 0 20px;
// 			font-size: rem-calc(56);
// 			font-weight: $light;
// 			.price-cents-cents {
// 				display: block;
// 				border-bottom: solid 4px $white;
// 			}
// 			.price-cents-month {
// 				display: block;
// 			}
// 		}
// 	}

// }


// .contact-form {
// 	width: 80%;
// 	text-align: left;
// 	margin: 25px auto 10px;
// 	.form-item {
// 		display: block;
// 		margin-bottom: 20px;
// 		label {
// 			color: $sparkgray;
// 			display: block;
// 			margin-bottom: 5px;
// 		}
// 		input {
// 			color: $sparkgray;
// 			display: block;
// 			width: 100%;
// 		}
// 		.form-textarea {
// 			width: 100%;
// 		}
// 	}
// }


// .privacy {
// 	p {
// 		text-align: left;
// 		padding-bottom: 20px;
// 	}
// 	ul {
// 		padding: 20px;
// 		li {
// 			text-align: left;
// 			font-size: rem-calc(24);
// 		}
// 	}
// 	h2 {
// 		text-align: left;
// 	}
// }

// .reveal {
// 	padding-left: 50px;
// 	padding-right: 50px;
// 	.section-headline {
// 		text-align: center;
// 		.headline-emp {
// 			text-transform: uppercase;
// 			color: $teal;
// 			font-weight: $bold;
// 		}
// 		.name {
// 			font-size: rem-calc(32);
// 			font-weight: $light;
// 			padding: 20px 0;
// 			line-height: 36px;
// 		}
// 		.quote-name {
// 			font-size: rem-calc(28);
// 			font-weight: $semi-bold;
// 			line-height: 34px;
// 			padding-bottom: 40px;
// 		}
// 		h1 {
// 			font-size: rem-calc(64);
// 			line-height: 70px;
// 			font-weight: $light;
// 		}
// 		p {
// 			font-size: rem-calc(36);
// 			line-height: 46px;
// 		}
// 	}
// 	.body {
// 		padding: 30px 20px;
// 		p {
// 			font-size: rem-calc(32);
// 			padding-bottom: 35px;
// 			line-height: 36px;
// 		}
// 		&.left {
// 			text-align: left;
// 		}
// 		.center {
// 			text-align: center;
// 			display: block;
// 		}
// 		.vertical-align-center {
// 			display: flex;
// 			align-items: center;
// 			p {
// 				padding-bottom: 0;
// 			}
// 		}
// 	}
// 	.section-advocate-image {
// 		text-align: center;
// 		img {
// 			max-width: 600px;
// 			height: auto;
// 		}
// 	}
// 	.widescreen {
// 		text-align: center;
// 	}
// 	.section-advocate-image-info {
// 			text-align: center;
// 			max-width: 600px;
// 			margin: 20px auto;
// 	}
// 	&#learn-more {
// 		.section-headline {
// 			text-align: center;
// 			h1 {
// 				font-size: rem-calc(48);
// 				line-height: 48px;
// 				font-weight: $light;
// 				padding-bottom: 50px;
// 			}
// 			p {
// 				font-size: rem-calc(36);
// 				line-height: 45px;
// 			}
// 		}
// 		.body {
// 			margin-top: 50px;
// 			.row {
// 				margin-bottom: 20px;
// 				display: flex;
// 				.columns {
// 					display: flex;
// 					align-items: center;
// 				}
// 			}
// 			p {
// 				font-size: rem-calc(26);
// 				padding: 0;
// 			}
// 		}
// 	}
// 	.reveal-footer {
// 		text-align: center;
// 		padding-top: 20px;
// 		a.back-link {
// 			font-size: rem-calc(52);
// 			text-transform: uppercase;
// 			font-weight: $light;
// 			color: $blue;
// 			margin-top: 30px;
// 			&:hover {
// 				border-bottom: 5px solid $burgandy;
// 			}
// 		}
// 		.about-link {
// 			color: $white;
// 			background-color: $blue;
// 			width: 555px;
// 			height: 80px;
// 			max-height: 80px;
// 			font-size: rem-calc(32);
// 			padding: 21px 5px 10px 5px;
// 			display: inline-block;
// 			margin-bottom: 20px;
// 			text-transform: uppercase;
// 		}
// 		.donor-link {
// 			color: $white;
// 			background-color: $purple;
// 			width: 555px;
// 			height: 80px;
// 			max-height: 80px;
// 			font-size: rem-calc(32);
// 			padding: 21px 5px 10px 5px;
// 			display: inline-block;
// 			text-transform: uppercase;
// 			margin-bottom: 20px;
// 		}
// 	}
// 	&.what {
// 		.section-headline {
// 			border-bottom: 3px solid $orange;
// 		}
// 		.body {
// 			p {
// 				font-size: rem-calc(28);
// 				.emp {
// 					font-weight: $extra-bold;
// 					color: $teal;
// 				}
// 				&.best-hope {
// 					text-align: center;
// 					font-style: italic;
// 				}
// 			}
// 			.row {
// 				margin-bottom: 40px;
// 				display: flex;
// 			}
// 			.align-center {
// 				display: flex;
// 				align-items: center;
// 			}
// 			.why-bring-education {
// 				text-align: center;
// 				display: block;
// 				padding: 10px;
// 				font-size: rem-calc(32);
// 				color: $white;
// 				background-color: $bluegray;
// 				transition: all .5s;
// 				.why-emp {
// 					text-transform: uppercase;
// 					font-weight: $bold;
// 				}
// 			}
// 		}
// 		ul {
// 			li {
// 				color: $forestgreen;
// 				font-size: rem-calc(26);
// 			}
// 		}
// 		.why-headline {
// 			text-align: center;
// 			h1 {
// 				font-size: rem-calc(96);
// 				font-weight: $semi-bold;
// 				color: $teal;
// 				padding-top: 0;
// 			}
// 		}
// 	}
// 	&.donors {
// 		h1 {
// 			font-weight: $bold;
// 			font-size: rem-calc(50);
// 			text-align: left;
// 		}
// 		ul {
// 			li {
// 				font-size: rem-calc(30);
// 				font-weight: $normal;
// 				list-style: none;
// 				padding-bottom: 15px;
// 				line-height: normal;
// 			}
// 		}
// 	}
// 	&.about {
// 		padding: 0;
// 		h1 {
// 			text-indent: -9999px;
// 			width: 775px;
// 			height: 293px;
// 			background: url(../../../images/how_spark_was_formed.png) no-repeat;
// 			margin: 10px auto 20px;
// 		}
// 	}
// }


// @media only screen and (max-width: 1024px) {
// 	.spark-intro {
// 		h2 {
// 			font-size: rem-calc(43);
// 		}
// 		p {
// 			font-size: rem-calc(32);
// 		}
// 	}
// 	#block-sparky-content {
// 		.section-headline {
// 			h1 {
// 				font-size: rem-calc(40);
// 				line-height: 46px;
// 				.title {
// 					display: block;
// 					padding-bottom: 20px;
// 				}
// 			}
// 			p {
// 				font-size: rem-calc(24);
// 				line-height: 32px;
// 			}
// 		}
// 		p {
// 			padding-left: 10px;
// 			padding-right: 10px;
// 		}
// 	}
// 	.sponsorship {
// 		.price-box {
// 			justify-content: center;
// 		}
// 		.sponsorship-info {
// 			text-align: center;
// 		}
// 	}
// 	.donate-bar {
// 		text-align: center;
// 		.donate-text {
// 			font-size: rem-calc(28);
// 			font-weight: $bold;
// 			padding: 0 15px;
// 		}
// 	}

//     main-nav .who, .what, .when, .where, .how {
//         -ms-flex-preferred-size:auto;
//         flex-basis: inherit;
//         padding: 0 10px;
//     }

//     .main-nav ul {
//         -webkit-box-pack: center;
//         -ms-flex-pack: center;
//         justify-content: center;
//     }

//     .main-nav li p {
//         display: none;
//     }

//     .main-nav ul li {
//         border-right: 0px solid #666666;
//         border-bottom: 0px;
//         padding: 10px;
//     }

//     .main-nav .who {
//         flex-basis: initial;
//     }
// }


// @media only screen and (max-width: 930px) {

//     .main-nav .what {
//     -ms-flex-preferred-size:20%;
//         flex-basis:20%;
//     }

//     .main-nav .where {
//         -ms-flex-preferred-size: 20%;
//             flex-basis: 20%;
//     }

//     .main-nav .when {
//         -ms-flex-preferred-size:20%;
//             flex-basis:20%;
//     }

//     .main-nav nav ul {
//         height:150px;
//     }

//     .main-nav li p {
//         padding: 0 2px;
//     }
//     .locations {
//     	ul li {
//     		text-align: center;
//     	}
//     }
//     .reveal {
// 	    &.about {
// 			h1 {
// 				width: 350px;
// 				height: 165px;
// 				background: url(../../../images/how_spark_was_formed_small_2.png) no-repeat;
// 				margin: 5px auto 20px;
// 			}
// 			.about-img {
// 				display: none;
// 			}
// 	    }
//     }
// }



// @media only screen and (max-width: 778px) {
//     .main-nav .who, .main-nav .what, .main-nav .when, .main-nav .where, .main-nav .how {
//         -ms-flex-preferred-size:auto;
//         flex-basis:auto;
//         padding: 0 10px;
//     }

//     .main-nav nav ul {
//         -webkit-box-pack: center;
//         -ms-flex-pack: center;
//         justify-content: center;
//     }

//     .main-nav ul li {
//         font-size: 2.5rem;
//     }

//     .main-nav li p {
//         display: none;
//     }

//     .main-nav nav ul li {
//         border-right: 0px solid #666666;
//         border-bottom: 0px;
//     }
// }


// @media only screen and (max-width: 600px) {
// 	.main-nav ul {
// 		height: 130px;
// 		-ms-flex-wrap: wrap;
// 		flex-wrap: wrap;
//     }
//     .main-nav ul li {
// 		font-size: rem-calc(32);
//     }
//     #block-sparky-content {
//     	.section-headline {
// 	    	h1 {
// 	    		padding-bottom: 10px;
// 	    	}
//     	}
//     }

//     .video-link-2 {
//     	img {
//     		margin-bottom: 20px;
//     	}
//     }

// }
