
//  Non-Foundation Variables
//
//  Base configuration values can be found inside vendors/_foundation_config.scss
//  Check there first

//  Paths

    $path: "";
    $js_path: "#{$path}js/";

//  FCOE Color Palette

    $blue-primary: #385988;
    $blue-dark: #193365;
    $blue-light: #cde2ff;
    $blue-bright: #0f1f3e;
    $blue-darkest: #0f1f3e;


    $bronze: #bc995d;

    $highlight: #fffc7e;

    $gray-light: #f2f1f1;
    $gray: #d7d7d7;
    $gray-medium: #768992;
    $gray-dark: #464343;




    $red: #f80720;
    $pinkred: #ff5464;
    $hotpink: #fb28fe;
    $burgandy: #d43983;
    $orange: #f18d4a;
    $neonyellow: #feff00;
    $neongreen: #34FA24;
    $olive: #aad24f;
    $forestgreen: #009933;
    $darkforestgreen: #007326;

    $green: #a3d39c;


    $bluegreen: #33cc99;
    $tealbright: #37d9b6;
    $teal: #31afbb;
    $darkteal: #23828b;
    $skyblue: #01d2ff;
    $blue: #3185c9;
    $purple: #aa67b1;
    $darkpurple: #7f5284;
    $lavender: #d598db;
    $footerpurple: #ac92ff;
    $lightgray: #e5e9eb;
    $darkgray: #666666;
    $sparkgray: #768992;
    $bluegray: #84989f;




//  Typography

    $light: 300;
    $normal: 400;
    $semi-bold: 600;
    $bold: 700;
    $extra-bold: 800;

//



$h2-intro: rem-calc(72);


