.hideText{text-indent:100%;white-space:nowrap;overflow:hidden}.uppercase{text-transform:uppercase}.site-name{font-weight:500;padding-top:28px;padding-bottom:8px}.site-name__link{color:#464343}.site-name{font-weight:600;padding-top:28px;padding-bottom:8px}.site-name__link{color:#464343}