// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.

// Headings
//------------------------------------------
// h1, h2, h3,
// h4, h5, h6 {}

// Anchors
//-----------------------------------------------------------------------------
// a {}

// a:focus {}

// a.active,
// a:active,
// a:hover {}

// Form Input
//-----------------------------------------------------------------------------
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {
// }

// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {

// }

// select {}

// place global styles here

/**
*
* Global
*
**/

html, body {
    height: 100%;
    width: 100%;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  ::selection {
  
  }
  
  h1 {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  h2 {
    font-size: rem-calc(40);
    font-weight: $bold;
    line-height: 3.6rem;
  }
  
  h3 {
      color: $blue-bright;
  
  }
  
  h4 {
      font-weight: $semi-bold;
  }
  
  h5 {
      color: $blue-bright;
      font-weight: $semi-bold;
  }
  
  h6 {
      font-weight: $semi-bold;
      text-transform: uppercase;
  }
  
  figure {
      margin: 0 !important;
      padding: 0 !important;
  }
  
  div[role=contentinfo] {
      margin-top: 30px !important ;
      @include callout($success-color);
      border: 0;
  }
  
  
  h1, h2, h3, h4, a, p {
    color: $sparkgray;
    margin: 0;
  }
  
  