{{ attach_library( 'sparky/contact-card-compact' ) }}
{% if employee_heading %}
    <h4 class="employee__heading">{{ employee_heading }}</h4>
{% endif %}
<article{{ attributes.addClass(classes) }}>

            <p {{ title_attributes.addClass(title_classes) }}>{{ contact_name|raw }}</p>
            {% if employee_position %}
            <p class="employee__position">{{ employee_position|raw }}</p>
            {% endif %}
            {% if employee_email %}
            <p class="employee__employee-email">{{ employee_email|raw }}</p>
            {% endif %}
            {% if employee_phone %}
            <p class="employee__employee-phone">{{ employee_phone|raw }}</p>
            {% endif %}
            {% if is_admin and include_edit_link %}
            <a class="employee__edit-link button secondary small" href="/node/{{ node.id }}/edit?destination=/contact">{{ 'Edit Employee'|t }}</a>
            {% endif %}

</article>
