@import "../../init";

.employee {
    font-size: rem-calc(14px);
    line-height: rem-calc(17px);
    max-width: 50%;
}

.employee--display-contact-details {
    margin-bottom: 22px;
    margin-top: 8px;
}

.employee__position {
    margin: 0 0 7px 0;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0;
}

.employee {
    &__title,
    &__employee-phone,
    &__employee-name,
    &__employee-title,
    &__employee-email,
    &__edit-link {
        margin-bottom: 0px;
    }
    &__edit-link {
        font-weight: bold;
        margin-top: 10px;
    }
    &__employee-photo {
        margin-right: 20px;
        img {
            display: block;
            border: 1px solid $gray;
            padding: 4px;
        }
    }
    &__employee-name {
        font-weight: bold;
        font-size: rem-calc(15px);
    }
    &__heading {
        background: #eee;
        padding: 8px;
        margin-bottom: 20px;
        margin-top: 30px;
    }
}

.paragraph--type--contact-information {
    max-width: 500px;
    margin-bottom: 10px;
    &-custom {
        max-width: 500px;
    }
}

// .employee--display-contact-details-compact node //
.paragraph--department-contact-list {
    border-bottom: 1px solid $gray;
    padding-bottom: 12px;
    margin-bottom: 15px;
    .department_contact_list__department-w {
        font-weight: 600;
    }
    .department_contact_list__department-phone {
        font-weight: 600;
    }
    .department_contact_list__department-id {
        margin-top: 15px;
    }
}

.employee--display-contact-details-compact {
    margin-top: 8px;
    margin-bottom: 22px;
    padding-bottom: 10px;
    .employee__position {
        margin-bottom: 0;
    }
}

.column:last-child:not(:first-child) {
    float: left;
}

// Added from components/build/css/.css files

.employee {
    font-size: 0.875rem;
    line-height: 1.0625rem;
    max-width: 50%;
}

.employee--display-contact-details {
    margin-bottom: 22px;
    margin-top: 8px;
}

.employee__position {
    margin: 0 0 7px 0;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0;
}

.employee__title,
.employee__employee-phone,
.employee__employee-name,
.employee__employee-title,
.employee__employee-email,
.employee__edit-link {
    margin-bottom: 0px;
}

.employee__edit-link {
    font-weight: bold;
    margin-top: 10px;
}

.employee__employee-photo {
    margin-right: 20px;
}

.employee__employee-photo img {
    display: block;
    border: 1px solid #d7d7d7;
    padding: 4px;
}

.employee__employee-name {
    font-weight: bold;
    font-size: 0.9375rem;
}

.employee__heading {
    background: #eee;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.paragraph--type--contact-information {
    max-width: 500px;
    margin-bottom: 10px;
}

.paragraph--type--contact-information-custom {
    max-width: 500px;
}

.paragraph--department-contact-list {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 12px;
    margin-bottom: 15px;
}

.paragraph--department-contact-list .department_contact_list__department-w {
    font-weight: 600;
}

.paragraph--department-contact-list .department_contact_list__department-phone {
    font-weight: 600;
}

.paragraph--department-contact-list .department_contact_list__department-id {
    margin-top: 15px;
}

.employee--display-contact-details-compact {
    margin-top: 8px;
    margin-bottom: 22px;
    padding-bottom: 10px;
}

.employee--display-contact-details-compact .employee__position {
    margin-bottom: 0;
}

.column:last-child:not(:first-child) {
    float: left;
}
