@import "../../init";
@import "foundation";

.layout-container--fcoe-footer {
    background: $blue-dark;
    margin-top: 100px;
}

.fcoe-footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-links {
    padding-left: 20px;
    @media #{$large-up} {
        padding-left: 40px;
    }
    &__title {
        font-size: rem-calc(16);
        color: #fff;
        font-weight: $bold;
        text-transform: uppercase;
        color: $blue-light;
        border-bottom: 1px solid $blue-primary;
        padding-bottom: 8px;
    }
    &__menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: rem-calc(15);
    }
    &__menu-link {
        color: #fff;
    }
}

.icon-links {
    a {
        color: #ffffff;
    }
    list-style-type: none;
    margin: 30px 0 0 0;
    border-top: 1px solid #fff;
    padding-top: 30px;
    @media #{$large-up} {
        margin: 0;
        border: 0;
        padding: 0;
    }
    &__list-item {
        margin-bottom: 0px;
    }
    &__icon {
        float: left;
        margin-right: 20px;
        margin-left: 15px;
        width: 45px;
    }
    &__title {
        color: white;
        font-weight: 700;
        margin: 0;
        padding: 0;
        font-size: rem-calc(18px);
        line-height: rem-calc(22px);
        @media #{$large-up} {
            font-size: rem-calc(16px);
            line-height: rem-calc(20px);
        }
    }
    &__description {
        @include show-for("large");
        color: white;
        font-size: rem-calc(13px);
    }
}

/**
 * Foundation for Sites by ZURB
 * Version 6.2.4
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.layout-container--fcoe-footer {
    background: #193365;
    margin-top: 100px;
}

.fcoe-footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-links {
    padding-left: 20px;
}

@media screen and (min-width: 64em) {
    .footer-links {
        padding-left: 40px;
    }
}

.footer-links__title {
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    color: #cde2ff;
    border-bottom: 1px solid #385988;
    padding-bottom: 8px;
}

.footer-links__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.9375rem;
}

.footer-links__menu-link {
    color: #fff;
}

.icon-links {
    list-style-type: none;
    margin: 30px 0 0 0;
    border-top: 1px solid #fff;
    padding-top: 30px;
}

.icon-links a {
    color: #ffffff;
}

@media screen and (min-width: 64em) {
    .icon-links {
        margin: 0;
        border: 0;
        padding: 0;
    }
}

.icon-links__list-item {
    margin-bottom: 0px;
}

.icon-links__icon {
    float: left;
    margin-right: 20px;
    margin-left: 15px;
    width: 45px;
}

.icon-links__title {
    color: white;
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    line-height: 1.375rem;
}

@media screen and (min-width: 64em) {
    .icon-links__title {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}

.icon-links__description {
    color: white;
    font-size: 0.8125rem;
}

@media screen and (max-width: 63.9375em) {
    .icon-links__description {
        display: none !important;
    }
}
