{{ attach_library( 'sparky/fcoe-footer' ) }}
<div class="layout-container layout-container--fcoe-footer">
  <div class="fcoe-footer row">
    <nav role="navigation" class="footer-links small-6 medium-6 large-3 columns">
      <h4 class="footer-links__title">Site Links</h4>
      <ul class="footer-links__menu">
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https://fcoe.org/">Office of Education</a></li>
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https://fcoe.org/departments">Departments</a></li>
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https://fcoe.org/districts">Districts</a></li>
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https://fcoe.org/events">Events</a></li>
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https://fcoe.org/news">News</a></li>
      </ul>
    </nav>
    <nav role="navigation" class="footer-links small-6 medium-6 large-3 columns">
      <h4 class="footer-links__title">Employee Links</h4>
      <ul class="footer-links__menu">
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https://sharepoint.fcoe.org/default.aspx">Sharepoint</a></li>
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https://dms.fcoe.org/">DMS</a></li>
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="http://www.aesoponline.com/">AESOP</a></li>
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="http://www.fcoe.org/email">Webmail</a></li>
      </ul>
    </nav>
    <div class="medium-12 large-6 columns">
        <ul class="icon-links row">
          <li class="columns medium-6 large-12 icon-links__list-item">
            <a href="http://hr.fcoe.org/employment-opportunities"><img class="icon-links__icon" src="/{{ directory }}/images/icon_briefcase.png" /></a>
            <h5 class="icon-links__title"><a href="http://hr.fcoe.org/employment-opportunities">Discover Employment at FCOE</a></h5>
            <p class="icon-links__description"><a href="http://hr.fcoe.org/employment-opportunities">Come learn how great it is to be a part of the FCOE Team.</a></p>
          </li>
          <li class="columns medium-6 large-12 icon-links__list-item">
            <a href="http://www.fcoe.org/files/documents/FCSS_Directory_2016-17.pdf"><img class="icon-links__icon" src="/{{ directory }}/images/icon_directory.png" /></a>
            <h5 class="icon-links__title icon-links__title--no-subhead"><a href="http://www.fcoe.org/files/documents/FCSS_Directory_2016-17.pdf">Fresno County Schools Directory</a></h5>

          </li>
          <li class="columns medium-6 large-12 icon-links__list-item">
            <a href="http://youtube.com/user/fresnocoe"><img class="icon-links__icon" src="/{{ directory }}/images/icon_video.png" /></a>
            <h5 class="icon-links__title icon-links__title--no-subhead"><a href="http://youtube.com/user/fresnocoe">Check Out FCOE on YouTube</a></h5>

          </li>
          <li class="columns medium-6 large-12 icon-links__list-item">
            <a href="http://fcoefoundation.org"><img class="icon-links__icon" src="/{{ directory }}/images/icon_foundation.png" /></a>
            <h5 class="icon-links__title icon-links__title--no-subhead"><a href="http://fcoefoundation.org">The Foundation at FCOE</a></h5>

          </li>
        </ul>
    </div>
  </div>
</div>

<style type="text/css">
    .icon-links__title--no-subhead {
        margin-top: 8px !important;
        margin-bottom: 25px;
    }
</style>
