@import '../../init';
@import "foundation";

.article--display-teaser {
    margin-left: 20px;
        @media #{$medium-up}{
            margin-left: 0;
        }
    h2.article__title {
        line-height: rem-calc(27px);
        font-size: rem-calc(22px);
        border: 0;
        font-weight: 600;
        color: $blue-darkest;
        padding: 0 0 7px 0;
        margin: 0;
        background: none;
        text-align: left;
        &:before {
            background: none;
        }
        @media #{$medium-up}{
            font-size: rem-calc(14px);
            line-height: rem-calc(17px);
            font-weight: 700;
        }
    }
    .article__body p {
        font-size: rem-calc(13px);
        line-height: rem-calc(19px);
        margin-bottom: 0;
    }
    .links.inline {
        list-style-type: none;
        margin: 0;
        padding: 0 0 10px 0;
        border: 0;
        li {
            font-size: rem-calc(14px);
            margin: 0;
            padding: 0;
            border: 0;
            a {
                @media #{$small-only}{
                    @include button();
                    text-decoration: none;
                    padding: 6px 8px;
                    background: $blue-bright;
                    font-weight:  600;
                    margin: 0;
                    margin-top: 10px;
                    text-decoration: none;
                }
                @media #{$medium-up}{
                    text-decoration: underline;
                }
            }
        }
    }
}


.article {
    &__more-link {
        font-size: rem-calc(16px);
        text-decoration: underline;
        text-align: center;
        @media #{$medium-up} {
            display: none;
            top: 18px;
            right: 0;
            text-align: left;
            text-decoration: none;
            margin-left: 20px;
            font-size: rem-calc(13px);
        }
    }
}

  
  /**
   * Foundation for Sites by ZURB
   * Version 6.2.4
   * foundation.zurb.com
   * Licensed under MIT Open Source
   */
  .article--display-teaser {
    margin-left: 20px; }
  
  @media screen and (min-width: 40em) {
    .article--display-teaser {
      margin-left: 0; } }
  
  .article--display-teaser h2.article__title {
    line-height: 1.6875rem;
    font-size: 1.375rem;
    border: 0;
    font-weight: 600;
    color: #0f1f3e;
    padding: 0 0 7px 0;
    margin: 0;
    background: none;
    text-align: left; }
  
  .article--display-teaser h2.article__title:before {
    background: none; }
  
  @media screen and (min-width: 40em) {
    .article--display-teaser h2.article__title {
      font-size: 0.875rem;
      line-height: 1.0625rem;
      font-weight: 700; } }
  
  .article--display-teaser .article__body p {
    font-size: 0.8125rem;
    line-height: 1.1875rem;
    margin-bottom: 0; }
  
  .article--display-teaser .links.inline {
    list-style-type: none;
    margin: 0;
    padding: 0 0 10px 0;
    border: 0; }
  
  .article--display-teaser .links.inline li {
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
    border: 0; }
  
  @media screen and (max-width: 39.9375em) {
    .article--display-teaser .links.inline li a {
      display: inline-block;
      text-align: center;
      line-height: 1;
      cursor: pointer;
      -webkit-appearance: none;
      appearance: none;
      transition: background-color 0.25s ease-out, color 0.25s ease-out;
      vertical-align: middle;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      padding: 0.55em 1em;
      margin: 0 0 1rem 0;
      font-size: 0.9rem;
      background-color: #3cb878;
      color: #fff;
      text-decoration: none;
      padding: 6px 8px;
      background: #005696;
      font-weight: 600;
      margin: 0;
      margin-top: 10px;
      text-decoration: none; }
    [data-whatinput='mouse'] .article--display-teaser .links.inline li a {
      outline: 0; }
    .article--display-teaser .links.inline li a:hover, .article--display-teaser .links.inline li a:focus {
      background-color: #339c66;
      color: #fff; } }
  
  @media screen and (min-width: 40em) {
    .article--display-teaser .links.inline li a {
      text-decoration: underline; } }
  
  .article__more-link {
    font-size: 1rem;
    text-decoration: underline;
    text-align: center; }
  
  @media screen and (min-width: 40em) {
    .article__more-link {
      display: none;
      top: 18px;
      right: 0;
      text-align: left;
      text-decoration: none;
      margin-left: 20px;
      font-size: 0.8125rem; } }
    