@import "../../init";

.main-logo {
    display: inline-block;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    height: 124px;
    width: 657px;
    background: url(../../../../images/spark_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 1024px) {
    a.donate-header-button {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 760px) {
    .main-logo {
        width: 380px;
        height: 100px;
    }
}
