{{ attach_library( 'sparky/header' ) }}
<header class="row">
<div class="columns large-9">
<h1><a class="main-logo" href="/">SPARK Fresno</a></h1>
</div>

<div class="columns large-3">
<a href="/how" class="button large expanded donate-header-button">Donate Now</a>
</div>

</header>