@import "../../init";

.donate-bar {
    background-color: $green;
    padding: 20px 0;
    font-size: rem-calc(36);
    font-weight: $light;
    color: $white;
    margin-top: 20px;
    a.button.large {
        font-size: rem-calc(36);
        margin-top: 1rem;
        text-transform: uppercase;
    }
}

.donate-bar {
    background-color: #a3d39c;
    padding: 20px 0;
    font-size: 2.25rem;
    font-weight: 300;
    color: #fefefe;
    margin-top: 20px;
}

.donate-bar a.button.large {
    font-size: 2.25rem;
    margin-top: 1rem;
    text-transform: uppercase;
}
