{{ attach_library( 'sparky/donate-bar' ) }}
<div class="donate-bar">
	<div class="row">
		<div class="columns large-7 donate-text">You can help ensure the arts make a difference in Fresno County</div>
		<div class="columns large-4 donate-button"><a href="/how" class="button large dark-green">Donate now</a></div>
	</div>
</div>

